body {
  background-color: #221122;
}

h2 {
  color: white;
}

.todolist {
  margin: 50px;
  width: 500px;
  border-radius: 6px;
  padding: 10px;
  padding-top: 1px;
  background-color: rgba(20, 10, 20);
  box-shadow: 0px 5px black;
}

.item {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #332233;
  color: white;
  width: 98%;
  border-radius: 5px;
  font-size: 24px;
  box-shadow: 0px 2px black;
}

.textIpt {
  background-color: #332233;
  color: white;
  border: none;
  border-radius: 5px 0px 0px 5px;
  font-size: 20px;
  padding-left: 5px !important;
  width: 94%;
  height: 30px;
  box-shadow: 0px 2px black;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
}

.textIpt:focus, .btn:focus {
  outline: none;
}

.btn {
  font-size: 24px;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 2px black;

  position: relative;
  top: 1px;

  border-radius: 0px 5px 5px 0px;

  background-color: #332233;
  color: #aaaaaa;
}

.btn:hover {
  color: #ffffff;
}